@import "./Styles/reset.css";
@import "./Styles/layout.css";
@import "./Styles/sidebar.css";
@import "./Styles/campo.css";
@import "./Styles/placar.css";
@import "./Styles/lista-jogadores.css";
@import "./Styles/dashboard.css";

:root {
  --text: #e6e1ee;
  --text-h: #ffffff;
  --bg: #1d0b3f; 

  --border: rgba(255, 255, 255, 0.15);
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.15);
  --accent-border: rgba(170, 59, 255, 0.5);

  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;

  background-color: var(--bg);
}

#root {
  width: 100%;
}

body {
  font-family: var(--sans);
  color: var(--text);
  background-color: var(--bg);
  line-height: 1.5;
}
